{% extends 'base.html' %}
{% block title %}Password change{% endblock title %}

{% block content %}
    <div class="container-fluid mt-5 mb-5 password">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3"></div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 p-5 shadow-lg p-3 mb-5 bg-white rounded">
                <form method="POST" action="{% url 'password' %}">
                    <h4 style="color: rgb(148, 19, 19); text-align: center;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">CHANGE YOUR PASSWORD</h4>
                    <br>
                    {% csrf_token %}
                    <div class="form-group">
                        {{form.as_p}}
                        <button type="submit" class="btn">Change</button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3"></div>
        </div>
    </div>
{% endblock content %}